/problema4/TestCheque1/nbproject/private/
/problema4/TestCheque1/build/
/problema1/TestEstudiante1/nbproject/private/
/problema1/TestEstudiante1/build/
/problema2/JavaApplication86/nbproject/private/
/problema2/TestProfesor/nbproject/private/
/problema2/TestProfesor/build/
